<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<specFlow>
    <unitTestProvider name="NUnit" />

    <language feature="sv"/>

    <runtime detectAmbiguousMatches="true" stopAtFirstError="false" missingOrPendingStepsOutcome="Inconclusive"/>

    <trace traceSuccessfulSteps="true" traceTimings="false" minTracedDuration="0:0:0.1"/>
  </specFlow>-->
</configuration>