<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EFCodeFirst" version="0.8" />
  <package id="ImpromptuInterface" version="5.6.2" />
  <package id="NUnit" version="2.5.9.10348" />
  <package id="ShouldFluent" version="1.1.12.0" />
  <package id="SpecFlow" version="1.8.1" />
  <package id="SpecFlow.Assist.Dynamic" version="0.2.1" />
  <package id="T4Scaffolding" version="0.9.4" />
</packages>